<ion-header>
  <ion-navbar>
    <ion-title>Tasty</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let contentItem of contentList">
    <div [innerHTML]="contentItem"></div>
  </ion-card>
  
  <ion-card [hidden]="!step2">
    <ion-card-content>
      <ion-list>
        <ion-list-header>선호하는 음식종류</ion-list-header>
        
        <ion-item *ngFor="let food of foodCategory">
          <ion-label>{{food}}</ion-label>
          <ion-checkbox (click)="onClickFoodCategory(food)"></ion-checkbox>
        </ion-item>
        
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-grid>
  <ion-row [hidden]="!step1">
    <ion-col width-50>
      <button full (click)="clickGender('M')">남자</button>
    </ion-col>
    <ion-col width-50>
      <button full (click)="clickGender('F')">여자</button>
    </ion-col>
  </ion-row>
  <ion-row [hidden]="!step2">
    <ion-col width-100>
      <button full (click)="onClickSubmit()">모두 선택했어요.</button>
    </ion-col>
  </ion-row>
</ion-grid>